.DS_STORE
config.yml
scratch/*
testprofile.out
cmd/scratch/*
# File sink
buz_events.json
buz_invalid_events.json
# Other
notes/*
*.sql
examples/quickstart/minio/*
*.bin
*.meta
.idea/*

# Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock*
terraform.*
backend.tf
build/buz
*.build
target/*
