.DS_STORE
config.yml
scratch/*
testprofile.out
# File sink
buz-valid.json
buz-invalid.json
notes/*
*.sql
examples/quickstart/minio/*
*.bin
*.meta

# Terraform
.terraform
.terraform.lock.hcl
terraform.*
build/buz
